
Events{
Worker connection.

}

server{
	listen       80
	server_name  hello.com
	Client_body_size  3M
	error pages  fells;
	index index.html;



	location = /upload {
	root html;
    allowed_method Get
	autoinex off
    }

	location = / 50x.html {
	root html;
	allowed_method Get
	autoinex off
	}

    location /favicon.ico {
		root  /serve/html
		allowed_method  GET POST
		autoindex off
		index favicon.ico
	}

	location /error {
		root  /serve/error
		allowed_method  GET POST
		autoindex on
	}

	location .cpp {
		root  /serve/script
		allowed_method  GET POST DELETE
		autoindex off
	}

}


server {
	listen       10000
	server_name  jhwang2.com

	location / {
		root  /serve/html
		allowed_method  GET
		autoindex off
		index jhwang2.html index.html index.cpp
	}

	location /favicon.ico {
		root  /serve/html
		allowed_method  GET POST
		autoindex off
		index favicon.ico
	}

	location /error {
		root  /serve/error
	}

	location .cpp {
		root  /serve/script
	}
}
